.footer{
    background-color: #222;
    color: white;
    padding: 3em;
    text-align: center;   
}


.socialList{
    display: flex;
    justify-content: center;
    list-style-type: none;
}


.socialList li{
    margin: 0em;
    padding: 2em;
    padding-right: 5em;
}

.socialList li:hover{
    color: #ffbb33
}

.socialList svg{
    font-size: 2em;
    cursor: pointer;
}

.copyRight{
    margin-top: 2em;
}

.copyRight span{
    font-weight: bold;
    color: #ffbb33;
}