.navBar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 1em;
}

.list{
    display: flex;
    list-style-type: none;
    align-items: center;
}

.item{
    margin-right: 10em;
}

.item a{
    color: #fff;
    text-decoration: none;

}

.item a:hover{
    color: #ffb726;
}